@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300);
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-weight: 300; }

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5; }
  #footer > .container {
    padding-right: 15px;
    padding-left: 15px; }
    #footer > .container > .text-muted {
      margin: 20px 0; }

ul.nav > li {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px; }
